@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');


*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Shadows Into Light Two', cursive;
  background-image: url('./Images/abstract-art-artistic-459642.jpg');
}

h1 {
  text-align: center;
  font-size: 50px;
}

table {
  margin: 0 auto;
  border-spacing: 0px 0px;
}

.button {
  background-color: #750353;
  color: rgb(244, 247, 248);
  height: 50px;
  width: 120px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: rgba(218, 148, 212, 0.822);
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
}

.cell {
  height: 70px;
  width: 70px;
  background-color: #22ac99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 100px;
}

.circles {
  margin: -40px 0 25px 0;
  display: flex;
  justify-content: center;
}

.message {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px #000;
  letter-spacing: 2px;
}

.white {
  height: 60px;
  width: 60px;
  background-color: #FFF;
  border-radius: 100px;
}

.purple{
  height: 60px;
  width: 60px;
  background-color: #750353;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.pink {
  height: 60px;
  width: 60px;
  background-color: rgb(192, 107, 164);
  border-radius: 100px;
  transition: background-color 0.5s;
}
